<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 10</b></center>    
<pre>
###Makvana Kashish Rohitbhai
###23010101629
###12-march-2024

# Modules

# A

### 01) WAP to create Calculator module which defines functions like add, sub,mul and div. create another file that uses the Calculator module.

In [57]:
import Calculator as cl
cl.calculate(10,20,'+')
cl.calculate(10,20,'-')
cl.calculate(10,20,'*')
cl.calculate(10,20,'/')
cl.calculate(10,20,'//')

30
-10
200
0.5
0

### 02) WAP to Pick a random character from a given String.

In [31]:
import random
str = input("Enter the String :");
print("Original String : ",str);
print("Random Character : ",random.choice(list(str)))

Enter the String : HelloWorld

Original String :  HelloWorld
Random Character :  l

### 03) WAP to Pick a random element from a given list.

In [30]:
import random
l = [1,2,3,4,5,6,7,8,9,10];
print(l)
print("Random Element From List: ",random.choice(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Random Element From List:  5

### 04) WAP to demonstrate the use of the math module.

In [10]:
import math
print("Value od pi:",math.pi);
print("Value od e:",math.e);
print("Square of 10:",math.sqrt(10));
print("Sine of 30 degrees:",math.sin(30));
print("Cosine of 45 degrees:",math.cos(45));
print("Tangent of 60 degrees:",math.tan(60));
print("Floor of 2.5",math.floor(2.5));
print("Ceiling of 3.2",math.ceil(3.2));
print("Factorial of 5:",math.factorial(5));
print("Absolute value of -5:",math.fabs(-5));
print("2 raised to the power of 3:",math.pow(2,3));
print("Logarithm of 10 to the base 2:",math.log(10,2));
print("Natural logarithm of 10 (log of 10 to the base e):",math.log10(2.302585));
print("Hyperbolic sine of 1:",math.sinh(1));
print("Hyperbolic cosine of 1:",math.cosh(1));
print("Hyperbolic tangent of 1:",math.tanh(1));
print("Inverse hyperbolic sine of 1:",math.asinh(1));
print("Inverse hyperbolic cosine of 1:",math.acosh(1));
print("Inverse hyperbolic tangent of 0:",math.atanh(0));

Value od pi: 3.141592653589793
Value od e: 2.718281828459045
Square of 10: 3.1622776601683795
Sine of 30 degrees: -0.9880316240928618
Cosine of 45 degrees: 0.5253219888177297
Tangent of 60 degrees: 0.320040389379563
Floor of 2.5 2
Ceiling of 3.2 4
Factorial of 5: 120
Absolute value of -5: 5.0
2 raised to the power of 3: 8.0
Logarithm of 10 to the base 2: 3.3219280948873626
Natural logarithm of 10 (log of 10 to the base e): 0.3622156711596981
Hyperbolic sine of 1: 1.1752011936438014
Hyperbolic cosine of 1: 1.5430806348152437
Hyperbolic tangent of 1: 0.7615941559557649
Inverse hyperbolic sine of 1: 0.881373587019543
Inverse hyperbolic cosine of 1: 0.0
Inverse hyperbolic tangent of 0: 0.0

### 05) WAP to demonstrate the use of date time module.

In [1]:
import datetime

current_datetime = datetime.datetime.now()

print("Current Date and Time:", current_datetime)

current_date = current_datetime.date()
current_time = current_datetime.time()

print("Current Date:", current_date)
print("Current Time:", current_time)

one_week = datetime.timedelta(days=7)

future_date = current_date + one_week

print("Date after one week:", future_date)

Current Date and Time: 2024-04-10 10:33:02.084156
Current Date: 2024-04-10
Current Time: 10:33:02.084156
Date after one week: 2024-04-17

# B

### 01) WAP to Roll dice in such a way that every time you get the same number.

In [37]:
import random 
while True:
  print('''1.roll the dice    2.To exit ''')
  user = int(input("what you want to do\n"))
  if user==1:
    number = random.randint(1,6)
    print(number)
  else:
    break

1.roll the dice    2.To exit

what you want to do
 1

3
1.roll the dice    2.To exit

what you want to do
 1

1
1.roll the dice    2.To exit

what you want to do
 2

### 02) WAP to generate 3 random integers between 100 and 999 which is divisible by 5.

In [39]:
import random
a = random.randrange(100, 999, 5)
b = random.randrange(100, 999, 5)
c = random.randrange(100, 999, 5)
print(a, b, c)

600 935 170

### 03) WAP to generate 100 random lottery tickets and pick two lucky tickets from it as a winner.

In [43]:
import random
a = random.randrange(100000, 999999, 5)
print(a)

159885

### 04) WAP to print current date and time in Python.

In [50]:
import datetime
print("Current date and time",datetime.datetime.now())

Current date and time 2024-03-12 11:17:57.743465

### 05) Subtract a week (7 days) from a given date in Python.

In [3]:
from datetime import datetime, timedelta
initial_date = datetime(2024, 2, 6)  
new_date = initial_date - timedelta(days=7)
print("Current Date:", initial_date.strftime("%Y-%m-%d"))
print("date one week ago:", new_date.strftime("%Y-%m-%d"))

Current Date: 2024-02-06
date one week ago: 2024-01-30

### 06) WAP to Calculate number of days between two given dates.

In [6]:
from datetime import datetime

def days_between_dates(date1, date2):
    date1_obj = datetime.strptime(date1, "%Y-%m-%d")
    date2_obj = datetime.strptime(date2, "%Y-%m-%d")

    delta = abs(date2_obj - date1_obj)
    return delta.days
date1 = "2023-08-10"
date2 = "2024-08-15"
print(date1 , date2)
print("Number of days between", date1, "and", date2, ":", days_between_dates(date1, date2))

2023-08-10 2024-08-15
Number of days between 2023-08-10 and 2024-08-15 : 371

### 07) WAP to Find the day of the week of a given date.

In [9]:
import datetime
from datetime import datetime

def day_of_week(date_str):
    date_obj = datetime.strptime(date_str, "%Y-%m-%d")
    
    day_index = date_obj.weekday()
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    return days[day_index]

date_str = "2024-08-15"
print("On",date_str,"it was", ":", day_of_week(date_str))

On 2024-08-15 it was : Thursday