<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 7</b></center>    
<pre>

### Makvana kashish Rohitbhai
### 23010101629
### 20-February-2024

# Functions

In [ ]:
# will throw an error
## UnboundLocalError: local variable 'a' referenced before assignment
a = 15
def change():
    a = a + 5
    print(a) 
change()

In [4]:
# when to use global
a = 15
def change():
    global a
    a = a + 5
    print(a) 
change()

20

### 01) WAP to count simple interest using function.

# SI =( principle(amount) * rate of interest * time )/ 100

In [3]:
Principle = int(input("Enter Principle:"))
Rate = int(input("Enter the Rate:"))
Time = int(input("Enter the time"))

def interestCalc():
    global Principle,Rate,Time
    i = (Principle * Rate * Time)/100
    print("Simple Interest is :",i)
interestCalc();

Enter Principle: 50000
Enter the Rate: 2
Enter the time 3

Simple Interest is : 3000.0

### 02) WAP that defines a function to add first n numbers.

In [9]:
n = int(input("Enter Number:"))
sum=0
def sumOfNum():
    global n,sum
    for i in range(1,n+1):
        sum = sum+i;
    print("Sum of number is:",sum)
sumOfNum();

Enter Number: 6

Sum of number is: 21

### 03) WAP to find maximum number from given two numbers using function.

In [14]:
num1 = int(input("Enter the value of num1:"))
num2 = int(input("Enter the value of num2:"))
def maxOfTwo():
    global num1,num2
    if(num1>num2):
        print("Maximum is Number1:",num1)
    else:
        print("Maximum is Number2 :",num2)
maxOfTwo();

Enter the value of num1: 44
Enter the value of num2: 55

Maximum is Number2 : 55

### 04) WAP that defines a function which returns 1 if the number is prime otherwise return 0.

In [34]:
number = int(input("Enter Number:"))
def prime():
    global n;
    for i in range(2,number+1):
        if(number%i==0):
            #prime number
             print("Return 0")
             return 1
        else:
            #not prime numebr
             print("Return 1")
             return 0
prime();

Enter Number: 9973

Return 1

<h2> optional task : optimization</h2>
complete basic task first then try to optimize

In [1]:
# Example on how iterations are calculated
# Only iteration in loops are counted
iteration_count= 0
n = 5
for i in range(n):
    iteration_count += 1
    
    for j in range(n-i-1):
        iteration_count += 1
        print(" ", end = " ")
    for j in range(i+1):
        iteration_count += 1
        print("*", end = " ")
    print()
print("Total Iterations : ", iteration_count)

        *
      * *
    * * *
  * * * *
* * * * *
Total Iterations :  30

Enter Number :  9973
No. of iteration :  16
1

### 05) Write a function called primes that takes an integer value as an argument and returns a list of all prime numbers up to that number.

Enter Number : 1000
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
No of primes :  168
No. of iteration :  6287

<h2> optional task : optimization</h2>
if basic task completed then try to optimize

Enter Number: 1000
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
No of primes :  168
No. of iteration :  1764

Enter Number: 1000
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
No of primes: 168
No. of iteration: 929

### 06) WAP to generate Fibonacci series of N given number using function name fibbo. (e.g. 0 1 1 2 3 5 8...)

<img src="https://www.freecodecamp.org/news/content/images/size/w1000/2022/06/calculate-the-Fibonacci-number-we-have-basic-2-approaches.png" height="600px" width="600px">

In [29]:
def fibo():
    n=int(input("enter the number"))
    a = 0
    b = 1
    print(a)
    print(b)    
    for x in range(1,n):
         c = a + b
         print(c)
         a,b=b,c
fibo();

enter the number 20

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

### 07) WAP to find the factorial of a given number using recursion.

In [30]:
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)
num = int(input("Enter the number:"))
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

Enter the number: 5

The factorial of 5 is 120

### 08) WAP to implement simple calculator using lamda function.

In [2]:
add = lambda x, y: x + y
subtract = lambda x, y: x - y
multiply = lambda x, y: x * y
divide = lambda x, y: x / y if y != 0 else "Error: Division by zero"

def calculate(operator, x, y):
    if operator == '+':
        return add(x, y)
    elif operator == '-':
        return subtract(x, y)
    elif operator == '*':
        return multiply(x, y)
    elif operator == '/':
        return divide(x, y)
    else:
        return "Error: Invalid operator"

def calculator():
    print("Simple Calculator")
    print("Operations:")
    print("+ for addition")
    print("- for subtraction")
    print("* for multiplication")
    print("/ for division")

    operator = input("Enter operator: ")
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    result = calculate(operator, num1, num2)
    print("Result:", result)

calculator()

Simple Calculator
Operations:
+ for addition
- for subtraction
* for multiplication
/ for division

Enter operator:  *
Enter first number:  4
Enter second number:  7

Result: 28.0

### 09)Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically
Sample Items : green-red-yellow-black-white <br>
Expected Result : black-green-red-white-yellow

In [10]:
colors = ['green', 'red', 'yellow', 'black', 'white']
print("Sample Items:",*colors,sep=',')

sorted_colors = sorted(colors)

sorted_sequence = '-'.join(sorted_colors)

print("Expected Result:", sorted_sequence)

Sample Items:,green,red,yellow,black,white
Expected Result: black-green-red-white-yellow

### 10) Write a python program to implement all function arguments type
Positional arguments <Br>
Default argument <Br>
Keyword arguments (named arguments) <Br>
Arbitrary arguments (variable-length arguments args and kwargs)

In [ ]:
# Positional argument

In [58]:
# Default argument
def defaultArgument (a,b=10) :

In [ ]:
# Keyword argument

In [ ]:
# Arbitrary arguments awrgs
def arbitraryArguments(*b):

In [ ]:
# Arbitrary arguments kwargs
def arbitraryArguments(**b):

### 01) WAP to calculate power of a number using recursion.

In [40]:
def power(num, pow):
    if pow == 0:
        return 1
    return (num*power(num, pow-1))
num = int(input("Enter number:"))
pow = int(input("enter power"))
print(power(num,pow))

Enter number: 2
enter power 3

8

### 02) WAP to count digits of a number using recursion.

In [11]:
def count_digits(number):
    if number < 10:
        return 1
    else:
        return 1 + count_digits(number // 10)

num = int(input("Enter a number: "))

digit_count = count_digits(num)

print("Number of digits:", digit_count)

Enter a number:  23456

Number of digits: 5

### 03) WAP to reverse an integer number using recursion.

In [12]:
def reverse_number(number):
    if number < 10:
        return number
    else:
        last_digit = number % 10
        remaining_digits = number // 10
        reversed_remaining = reverse_number(remaining_digits)
        reversed_number = int(str(last_digit) + str(reversed_remaining))
        return reversed_number

num = int(input("Enter an integer number: "))

reversed_num = reverse_number(num)

print("Reversed number:", reversed_num)

Enter an integer number:  65986

Reversed number: 68956

### 04) WAP to convert decimal number into binary using recursion.

<img src="https://runestone.academy/ns/books/published/pythonds/_images/dectobin.png">
<img src="https://www.tutorialstonight.com/assets/decimal-to-binary-conversion.png">

In [13]:
def decimal_to_binary(number):
    if number == 0:
        return ''
    else:
        binary_representation = decimal_to_binary(number // 2)
        return binary_representation + str(number % 2)

decimal_num = int(input("Enter a decimal number: "))

binary_num = decimal_to_binary(decimal_num)

print("Binary representation:", binary_num)

Enter a decimal number:  42

Binary representation: 101010


# Map , Filter , Reduce

### map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [3]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x * x, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

### The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [4]:
seq = [0, 1, 2, 3, 5, 8, 13]
 
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
 
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

### The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

In [5]:
import functools 

lis = [1, 3, 5, 6, 2] 

print("The sum of the list elements is : ", end="") 
print(functools.reduce(lambda a, b: a+b, lis)) 

print("The maximum element of the list is : ", end="") 
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6